/target
#/target/uberjar/classes
#/target/uberjar/stale
#/target/uberjar/report-gen-0.1.0-SNAPSHOT.jar
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/resources/db.properties
logs
*.log
\#*
.#*
