{:name  "FailedTransactions"
 :db    "pg"
 :query "SELECT * FROM transactions WHERE asynchronousresponseid = -1"
 :output :xlsx
 :dispatch [{:type :email
             :to   "user@mycompany.com, user2@othercompany.com"
             :from "donotreply@mycompany.com"
             :suject "App1 - Test Report"
             :body "Please find the requested report attached"}]
 }
